@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgColor: #000000;
    --textPrimary: #E5A91C;
    --textSecondary: #fff;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-color: var(--bgColor);
    color: var(--textPrimary);
    font-size: 1.1rem;
}

main {
    width: 800px;
    margin: 50px auto;
}

img {
    background-color: white;
}


#head {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

#head img {
    width: 55px;
}

#head h1 {
    margin-top: 12px;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 22px;
}

#button {
    text-align: right;
}

button {
    background-color: var(--textPrimary);
    border: 0;
    padding: 5px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 22px;
}

#words {
    font-size: 1.3rem;
    font-weight: 700;
}

.word {
    display: inline-block;
    margin: 2px;
}

#game {
    line-height: 30px;
    height: 105px;
    overflow: hidden;
    position: relative;
}

#game:focus {
    outline: 0;
}

#words {
    filter: blur(4px);
}

#game:focus #words {
    filter: blur(0);
}

#focus {
    position: absolute;
    inset: 0;
    text-align: center;
    margin-top: 35px
}

#game:focus #focus {
    display: none;
}

.letter.correct {
    color: #fff;
}

.letter.incorrect {
    color: red;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#cursor {
    display: none;
    width: 1.8px;
    height: 1.4rem;
    background: var(--textPrimary);
    position: absolute;
}

#game:focus #cursor {
    display: block;
}

#game.over #words {
    filter: blur(0);
    opacity: 0.7;
}

#game.over #focus {
    display: none;
}

/* .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
} */

/* .modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    position: relative;
}

.modal h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
}

.modal p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.modal select {
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
}

.modal button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal button:hover {
    background-color: #218838;
} */

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid var(--textPrimary);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}